<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,height=device-height, user-scalable=no,initial-scale=1, minimum-scale=1, maximum-scale=1,target-densitydpi=device-dpi">
        <title>Find history</title>
        <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css">
        <script src="http://code.jquery.com/jquery-2.2.4.js"></script>
        <script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
        <link rel="apple-touch-icon-precomposed" href="/static/img/touch-icon-iphone.png" />
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/static/img/touch-icon-iphone-retina.png" />
    </head>
    
    <body>
        <div data-role="page" id="month-calender">
            
            <div data-role="header" data-position="fixed" >
                <a href="/" data-role="button" data-transition="slide" data-direction="reverse">返回</a>
                <h3>历史查询</h3>
                <a data-role="button">{{ username }}</a>
            </div>
            
            <div data-role="content">
                <div>
                    <a href="/history/last?year={{year}}&month={{month}}" data-role="button" data-inline="true" data-transition="slide" data-direction="reverse">上月</a>
                    <span style="font-size:180%">{{ year }}年{{ month }}月</span>
                    <a href="/history/next?year={{year}}&month={{month}}" data-role="button" data-inline="true" data-transition="slide" >下月</a>

                </div>
                
                {% for day in range(monthDays)  %}
                <div data-role="collapsible" >
                    <h1>{{ month }}月{{ day+1 }}日 {{ everyDayData[day]['wday'] }}
                        <span style="float:right;">{{ everyDayData[day]['status'] }}</span>
                    </h1>
                    <ul data-role="listview" data-theme="c">
                        <li>
                            <a href="/history/journal?year={{year}}&month={{month}}&day={{day+1}}" data-transition="slide">
                            <div style="width:80%">
                                {% for friend, status in everyDayData[day]['friends'].items() %}
                                <h3>
                                    <span style="float:left;">&nbsp;&nbsp;{{ friend }}:</span><span style="float:right;">{{ status }}</span>
                                </h3>
                                {% endfor %}
                            </div>
                            </a>
                        </li>
                    </ul>
                </div>
                {% endfor %}
            
            </div>
            
            <div data-role="footer" data-position="fixed">
                <div data-role="navbar">
                  <ul>
                    <li><a href="#" class="ui-btn-active ui-state-persist">月历</a></li>
                    <li><a href="#">排行榜</a></li>
                    <li><a href="#">周历</a></li>
                  </ul>
                </div>   
            </div>
        </div>
        


    </body>
</html>

