<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,height=device-height, user-scalable=no,initial-scale=1, minimum-scale=1, maximum-scale=1,target-densitydpi=device-dpi">
        <title>Check In System</title>
        <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css">
        <script src="http://code.jquery.com/jquery-2.2.4.js"></script>
        <script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
        <link rel="apple-touch-icon-precomposed" href="/static/img/touch-icon-iphone.png" />
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/static/img/touch-icon-iphone-retina.png" />
    </head>
    
    <body>
        <div data-role="page">
            <div data-role="header" data-position="fixed" >
                <a href="/signout" data-role="button" data-transition="slide" data-direction="reverse">登出</a>
                <h3>打卡系统</h3>
                <a data-role="button">{{ username }}</a>
            </div>
            
            <div data-role="content">  
                <div>
                    <p><span style="font-size:170%">今天是{{ year }}年{{ month }}月{{ day }}日,{{weekday}}</span></p>
                </div>
                <ul data-role="listview">
                    <li>
                        <div>
                            {% if status=='未打卡' %}
                            <form action='/api/check_in' method='get'>
                                <h1>{{ username }}：<button type='submit'>打卡</button></h1>    
                            </form> 
                            {% else %}
                                <h1>{{ username }}：<button data-line="true">已打卡</button></h1>
                            {% endif %}
                        </div>
                        <div>
                            <h1 style="white-space:pre-wrap;">日志：<br> {{ journal }}</h1>
                        </div>
                    </li>
                    {% for friend in friends %}
                    <li>
                        <div>
                            <h1>{{ friend.passive_user_name }}: <button data-line="true">{{ friend.status }}</button></h1>
                        </div>
                         <div>
                            <h1 style="white-space:pre-wrap;">日志：<br> {{ friend.journal }}</h1>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            
            <div data-role="footer" data-position="fixed">
                <div data-role="navbar">
                  <ul>
                    <li><a href="/history?year={{ year }}&month={{ month }}" data-transition="slide" data-icon="search">历史查询</a></li>
                    <li><a href="/write_journal" data-icon="plus" data-transition="slideup">添加日志</a></li>
                    <li><a href="/group" data-transition="slide" data-icon="grid">学习小组</a></li>
                  </ul>
                </div>   
            </div>
            
        </div>

    </body>
</html>