<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,height=device-height, user-scalable=no,initial-scale=1, minimum-scale=1, maximum-scale=1,target-densitydpi=device-dpi">
        <title>Please sign in</title>
        <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css">
        <script src="http://code.jquery.com/jquery-2.2.4.js"></script>
        <script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
        <link rel="apple-touch-icon-precomposed" href="/static/img/touch-icon-iphone.png" />
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/static/img/touch-icon-iphone-retina.png" />
    </head>
    <body>
        <div data-role="page">

        <div data-role="header" data-position="fixed">
            <h1>请登录</h1>
        </div>

        <div data-role="content">
            <form action='/api/signin' method='post' data-transition="slide">
                <div >
                    {% if message %}
                    <p style="color:red">{{ message }}</p>
                    {% endif %}
                </div>
                <label for="fname" class="ui-hidden-accessible">姓名：</label>
                <input type="text" name="name" id="fname" placeholder="姓名..." value='{{ username }}'>

                <label for="fpasswd" class="ui-hidden-accessible">密码：</label>
                <input type="password" name="passwd" id="fpasswd" placeholder="密码..." >

                <input type="submit" value="登录">
            </form>
            <br>
            <hr  width="80%" >
            <h3>还没有账号？注册一个新账号吧：</h3 >
            <a href="/signup" data-role="button" data-transition="slide">注册</a>
            <a href="/about" data-role="button" data-transition="slide">了解更多</a>
            
            
        </div>

        <div data-role="footer" data-position="fixed">
            <h1></h1>
        </div>

        </div>
    </body>
</html>